.container {
  border: 2px solid #ff6347;
  width: 200px;
  text-align: center;
}

.title {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 16px;
}

.name {
  composes: title;
  color: #ff6347;
  font-size: 20px;
}
